.specialized {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;

  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .category-grid {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Đảm bảo các cột tự động điều chỉnh */
    gap: 20px; /* Khoảng cách giữa các mục */
    justify-content: center; /* Canh giữa các mục */
    align-items: center; /* Canh giữa theo chiều dọc */
  }
}
